html, body, h1, h2, h3, h4, h5, h6, p, div, ul,li {
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
}

body {
    overflow-x: hidden;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

li,p {
    display: inline;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(183, 149, 112);
    background-color: rgb(216, 213, 112);
}



#wrap {
    position: relative;
    margin: 200px 0 0 50%;
    left: -485px;
    width: 950px;
    border-radius: 45px;
    border: 2.5pt dashed rgb(133,90,52);
    background-color: rgb(254,255,243);
}


.menu {
    position: relative;
    margin: 3% 0 220px 5%;
    width: 90%;
    /*background-color: aqua;*/
}


.menu .sns {
    position: absolute;
    right: 0%;
    top: 15px;
    width: 100px;
    height: 40px;
    /*background-color: royalblue;*/
}

.sns .lnkt {
    position: absolute;
    right: 30%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.sns .lnki {
    position: absolute;
    right: -20%;
    width: 40px;
    height: 40px;
    text-align: center;
}


.menu .char1 {
    position: absolute;
    top: 20px;
    width: 150px;
    height: 150px;
    /*background-color: teal;*/
}


.menu .list {
    position: absolute;
    top: 70px;
    right: 0%;
    width: 70%;
    height: 100px;
    /*background-color: yellow;*/
    text-align: right;
    line-height: 100px;
}


.list .link {
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    width: 80px;
    height: 90px;
}

.list .link1 {
    position: absolute;
    right: 38.5%;
    width: 100px;
    height: 70px;
    color: rgb(150,130,52);
}

.list .link1:hover {
    color: rgb(120,90,42);
}

.link1:hover .gallery_img {
    background-image: url(../img/fhsrhtrh.PNG);
}

.list .li2 {
    position: absolute;
    right: 20%;
    height: 150px;
}

.list .link2 {
    position: absolute;
    right: 20%;
    width: 100px;
    height: 150px;
    color: rgb(150,130,52);
}


.list .link2:hover {
    color: rgb(120,90,42);
}

.list .li3 {
    position: absolute;
    right: 0%;
    height: 150px;
}

.link3 {
    position: absolute;
    right: 0%;
    width: 100px;
    height: 150px;
    color: rgb(150,130,52);
}

.contect_img {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url();
    z-index: 10;
}

.link3:hover{
    color: rgb(120,90,42);
    background-image: url();
}


#banner {
    position: relative;
    width: 90%;
    /*height: 300px;
    background-color: salmon;*/
    margin: 3%  auto;
}

#banner .swipe {
    border: 1px solid rgb(98, 71, 75);
    border-radius: 5px;
}

#contents {
    position: relative;
    width: 90%;
    /*background-color: seagreen;*/
    margin: 3% auto;
}

#glogo {
    text-align: center;
    padding: 10px 0 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.gallery .gs {
    flex: 49%;
    max-width: 50%;
    padding: 0;
}

.gallery .gs img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .gs {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .gs {
        flex:100%;
        max-width: 100%
    }
}

#contents #about {
    position: relative;
    height: 250px;
    /*background-color: rebeccapurple;*/
}

.as {
    text-align: center;
    padding: 10px 0 20px;
}

.atext {
    position: absolute;
    width: 53%;
}

.apic {
    position: absolute;
    background-color: darkblue;
    width: 35%;
    height: 250px;
    right: 2.5%;
}

#contents #contect {
    position: relative;
    padding: 50px 0 0 0;
    /*height: 1500px;
    background-color: orange;*/
}

#footer {
    text-align: center;
    margin-top: 20px;
}

#ttt {
    position: fixed;
    right: 0%;
    bottom: 7%;
    width: 50px;
    height: 50px;
    /*background-color: skyblue;*/
}